.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-dialog {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  /* ダイアログの最大幅を80%に設定 */
  max-height: 80%;
  /* ダイアログの最大高さを80%に設定 */
  display: flex;
  /* ダイアログ内の要素をフレックスボックスとして配置 */
  flex-direction: column;
  /* ダイアログ内の要素を縦方向に配置 */
  justify-content: center;
  /* ダイアログ内の要素を中央に配置 */
  align-items: center;
  /* ダイアログ内の要素を中央に配置 */
}

.button-container {
  display: flex;
  /* ボタンをフレックスボックスとして配置 */
  flex-direction: row;
  /* ボタンを横並びに配置 */
  gap: 10px;
  /* ボタン間の間隔を設定 */
}